.cache/
.local/
auto-save-list/
elpa/
/lisp/
eshell/
url/
init.el
early-init.el
recentf
custom.el
history
.lsp*
tramp
transient
projectile*
projects
eln-cache/

.last-package-update-day
.direnv
self-custom.el
